.about__content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 7rem;

	>div:first-child {
		@include column(5.33);

		p {
			font-size: 2.2rem;
			font-weight: 300;
		}

		@include tablet-below {
			@include column(12);
			margin-bottom: 3rem;
		}
	}

	>div:last-child {
		@include column(6);

		@include tablet-below {
			@include column(12);
		}
	}
}