#contact {
	.page-content {
		width: 100%;
	}

	.contact {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}
}

.contact__form {
	@include column(8);

	@include tablet-large-below {
		@include column(12);
	}
}

.contact__sidebar {
	@include column(4);

	.heading-two, h2 {
		@extend .heading-two;
		font-weight: bold;
		padding-bottom: 2rem;
	}

	@include tablet-large-below {
		@include column(12);
	}
}