#home {
	// display: flex;
	// align-items: flex-end;
	// min-height: calc(100vh - 90px);
	// min-height: 85vh;
	padding-top: 125px;
	// margin-bottom: -6rem;
}

.home-slider {
	width: 100%;
}

.home-slider__pager-container {
	width: 100%;
	display: flex;
	align-items: center;
	padding-bottom: 3rem;
}

.home-slider__title {
	text-transform: uppercase;
	font-size: 2rem;
	font-weight: 400;
	padding-right: 2rem;
}

.home-slider__pager {
	display: flex;
	width: 50%;

	a {
		width: 25%;

		&.cycle-pager-active {
			>span {
				>span {
					width: 100%;
				}
			}
		}

		> span {
			display: block;
			height: 1px;
			width: 100%;
			background: rgba($orange, 0.5);

			> span {
				display: block;
				width: 0;
				height: 100%;
				background: $orange;
				transition: 0.35s ease-in all;
			}
		}
	}
}

.home-slider__container {
	position: relative;
}

.home-slide {
	width: 100%;
	text-decoration: none;

	img {
		width: 100%;
	}
}

.home-slide__bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	// height: 445px;
	height: 445px;

	@include tablet-large-below {
		height: 300px;
	}

	@include tablet-small-below {
		height: 250px;
	}

	@include phone-large-below {
		height: 200px;
	}
}

.home-slide__title {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	text-align: right;

	>span {
		text-align: right;
		line-height: 1.5;
		font-size: 3rem;
		font-weight: 600;
		text-transform: uppercase;
		display: inline;
	    background: $grey;
	    color: $white; 
	    padding: 1.2rem 2rem;
	    -webkit-box-decoration-break: clone;
	    -ms-box-decoration-break: clone;
	    -o-box-decoration-break: clone;
	    box-decoration-break: clone;
	    text-decoration: none;
	}

	@include tablet-large-below {
		position: relative;
		top: 0;
		right: 0;
		width: 100%;
		text-decoration: none;
	}
}

.home-slider__controls {
	padding: 2rem;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 999;

	a {
		color: $white;
		font-size: 4rem;
		text-decoration: none;
		transition: 0.35s ease all;

		&:nth-child(2) {
			margin-left: 2rem;
		}

		&:hover, &:focus {
			outline: none;
			color: $orange;
		}
	}
}




