#production-project-opening {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.production-project-opening__content {
	@include column(4.25);

	@include desktop-small-below {
		@include column(5);
	}

	@include desktop-below {
		@include column(12);
	}
}

.production-project-opening__video {
	@include column(7);

	@include desktop-small-below {
		@include column(6.25);
	}

	@include desktop-below {
		@include column(12);
	}
}

.production__year {
	font-weight: 400;
	padding-bottom: 0.75rem;
	display: block;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

#production-project-content {
	background: $dark-grey;
	padding: 10rem 0 4rem 7rem;
	margin-top: 5rem;

	.wrapper {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	@include phone {
		padding: 10rem 0 4rem 0;
	}
}

.production__poster {
	@include column(4);

	img {
		width: 100%;
	}

	@include desktop-below {
		@include column(3.5);
	}

	@include tablet-large-below {
		@include column(4);
	}

	@include tablet-below {
		@include column(12);
		max-width: 400px;
		order: 2;
		margin: 0 auto;
		margin-top: 5rem;
	}
}

.production__facts {
	@include column(7.25);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	h2 {
		font-weight: 700;
		margin-top: 5rem;

		&:first-child {
			margin-top: 0;
		}
	}

	@include desktop-below {
		@include column(8);
	}

	@include tablet-large-below {
		@include column(7.25);
	}

	@include tablet-below {
		@include column(12);
		order: 1;
	}
}

.production__fact {
	@include column(5.33);
	// padding-bottom: 5rem;
	// break-inside: avoid;

	h2 {
		@extend p;
		margin-bottom: 0;
		font-size: 1.9rem;
	}

	li {
		font-size: 1.6rem;
	}

	@include desktop-below {
		@include column(5.66);
	}

	@include tablet-large-below {
		@include column(12);

		&:nth-child(2) {
			margin-top: 5rem;
		}
	}

	@include tablet-below {
		@include column(5.5);

		&:nth-child(2) {
			margin-top: 0;
		}
	}

	@include tablet-small-below {
		@include column(12);

		&:nth-child(2) {
			margin-top: 5rem;
		}
	}
}


.production-navigation {
	background: $dark-grey;
	padding-top: 3rem;
	// position: relative;

	// &::before {
	// 	content: '';
	// 	display: block;
	// 	width: 100%;
	// 	height: 100px; 
	// 	background: linear-gradient(to right, $orange, rgba($orange, 0.5));
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// }

	.wrapper {
		display: flex;
		justify-content: space-between;
		padding-bottom: 4rem;
		flex-wrap: wrap;

		>div {
			// width: 49%;

			@include phone-large-below {
				width: 100%;
				margin-bottom: 1rem;
			}
		}
	}
}

.production-navigation__link {
	padding: 3rem;
	display: block;
	text-decoration: none;
	font-size: 2rem;
	color: $white;
	height: 100%;
	overflow: hidden;
    transition: all .35s ease;
    position: relative;
    z-index: 2;

	&.next {
		text-align: right;
	}

	&.prev {
	}

	span {
		display: block;
		@extend p;
		font-size: 1.5rem;
		font-weight: 600;
		transition: 0.35s ease all;
	}

	&:hover, &:focus {
		outline: none;
		color: $orange;

		span {
			color: $orange;
		}
	}

	@include phone-large-below {
		&.next, &.prev {
			text-align: center;
		}
	}
}
































