{% extends "layouts/_layout" %}

{% block content %}
	<div class="wrapper">
		<section id="about" class="wrap-content">
			{% if entry.outlineHeading|length %}<span class="veritcal-outlined-text">{{ entry.outlineHeading }}</span>{% endif %}

			<section id="about-content" class="page-content">
				<h1 class="heading-one">{{ entry.title }}</h1>
				<div class="about__content">
					<div>
						{% if entry.leftColumn|length %}
							{{ entry.leftColumn }}
						{% endif %}
					</div>
					<div>
						{% if entry.rightColumn|length %}
							{{ entry.rightColumn }}
						{% endif %}
					</div>
				</div>
			</section>
		</section>

		{% if entry.teamMembers|length == 1 %}
			<section id="team-content" class="page-content slim">
				{% for member in entry.teamMembers.all() %}
					{% set img = member.teamMemberPhoto.one() %}
					<div class="team-member featured">
						<div class="team-member__img">
							<img src="{{ img.getUrl('teamMember') }}" {% if img.altTag|length %}alt="{{ img.altTag }}"{% endif %} />
						</div>
						<div class="team-member__copy">
							<h2 class="heading-two team-member__name">{{ member.teamMemberName }}</h2>
							<h3 class="team-member__job">{{ member.teamMemberJobTitle }}</h3>
							{% if member.teamMemberBio|length %} {{ member.teamMemberBio }}{% endif %}
						</div>
					</div>
				{% endfor %}
			</section>
		{% endif %}

		{% if entry.teamMembers|length > 1 %}
			<section id="team" class="wrap-content">
				{% if entry.preTitle|length %}<span class="veritcal-outlined-text">{{ entry.preTitle }}</span>{% endif %}
				<section id="team-content" class="page-content">
					{% if entry.heading|length %}<h1 class="heading-one">{{ entry.heading }}</h1>{% endif %}
					{% for member in entry.teamMembers.all() %}
						{% set img = member.teamMemberPhoto.one() %}
						<div class="team-member {% if loop.index == 1 %}featured {% endif %}">
							<div class="team-member__img">
								<img src="{{ img.getUrl('teamMember') }}" {% if img.altTag|length %}alt="{{ img.altTag }}"{% endif %} />
							</div>
							<div class="team-member__copy">
								<h2 class="heading-two team-member__name">{{ member.teamMemberName }}</h2>
								<h3 class="team-member__job">{{ member.teamMemberJobTitle }}</h3>
								{% if member.teamMemberBio|length %} {{ member.teamMemberBio }}{% endif %}
							</div>
						</div>
					{% endfor %}
					<div class="team-member empty"></div>
					<div class="team-member empty"></div>
				</section>
			</section>
		{% endif %}
	</div>
{% endblock %}