{% extends "layouts/_layout" %}

{% block content %}
	<section id="about">
		<span class="veritcal-outlined-text">About</span>

		<section id="about-content" class="page-content">
			<h1 class="heading-one">About</h1>
			<div class="about__content">
				<div>
					<p>Ezeqial Productions is an award-winning Canadian production company that focuses on original stories with unique points-of-view. Founded by Zack Bernbaum, Ezeqial offers creative thinking with a practical approach.</p>
				</div>
				<div>
					<p>Our films have played theatrically and sold internationally, and our latest film, <a href="">The Dancing Dogs Of Dombrova</a>, had its World Premiere at the Austin Film Festival and Canadian Premiere at the Whistler Film Festival. It will be released in North America by Film Movement.</p>
					<p>We are in development on a number of exciting projects including CUT FOR STONE, which finished in the Top 50 of the Academy’s Nicholl Fellowship in Screenwriting.</p>
					<p>Feel free to <a href="">reach out and say hi.</a></p>
				</div>
			</div>
		</section>
	</section>

	<section id="team">
		<span class="veritcal-outlined-text">Team</span>
			<section id="team-content" class="page-content">
			<h1 class="heading-one">Team</h1>
			<div class="team-member">
				<div class="team-member__img">
					<img src="" alt="" />
				</div>
				<div class="team-member__copy">
					<h2 class="heading-two">Zack Bernbaum</h2>
					<h3>President &amp; Producer</h3>
					<p>Zack Bernbaum is a Toronto based producer, and is the founder and president of Ezeqial Productions.</p>
					<p>With an eye for thoughtful and imaginative stories, Bernbaum works with writers and production partners to create and develop projects for Canadian and worldwide marketplaces.</p>
					<p>Bernbaum graduated with Honours from Ryerson University’s Image Arts Film Studies.</p>
				</div>
			</div>
			<div class="team-member">
				<div class="team-member__img">
					<img src="" alt="" />
				</div>
				<div class="team-member__copy">
					<h2 class="heading-two">Placement Name Here</h2>
					<h3>Placement Job Title</h3>
				</div>
			</div>
			<div class="team-member">
				<div class="team-member__img">
					<img src="" alt="" />
				</div>
				<div class="team-member__copy">
					<h2 class="heading-two">Placement Name Here</h2>
					<h3>Placement Job Title</h3>
				</div>
			</div>
			<div class="team-member">
				<div class="team-member__img">
					<img src="" alt="" />
				</div>
				<div class="team-member__copy">
					<h2 class="heading-two">Placement Name Here</h2>
					<h3>Placement Job Title</h3>
				</div>
			</div>
		</section>
	</section>
{% endblock %}