{% extends "layouts/_layout" %}

{% block content %}
	<span class="veritcal-outlined-text">Contact</span>
	<h1 class="heading-one">Contact</h1>

	<div class="contact">
		<div class="contact__form">
		</div>
		<div class="contact__sidebar">
			<h2 class="heading-two">Our Details</h2>
			<p>Ezeqial Productions Inc.<br>110 Eglinton Ave W, Suite 400<br>Toronto ON Canada<br>M4R 1A3</p>
			<p><a href="tel:4165605689">416-560-5689</a><br><a href="mailto:zack@ezeqialproductions.com">zack@ezeqialproductions.com</a></p>
		</div>
	</div>
{% endblock %}