{% extends "layouts/_layout" %}

{% block content %}
	<div class="wrapper">
		<section id="contact" class="wrap-content">
			{% if entry.outlineHeading|length %}<span class="veritcal-outlined-text">{{ entry.outlineHeading }}</span>{% endif %}
			
			<section id="contact-content" class="page-content">
				<h1 class="heading-one">{{ entry.title }}</h1>

				<div class="contact">
					<div class="contact__form">
						{% macro errorList(errors) %}
						    {% if errors %}
						        <ul class="errors">
						            {% for error in errors %}
						                <li>{{ error }}</li>
						            {% endfor %}
						        </ul>
						    {% endif %}
						{% endmacro %}

						{% from _self import errorList %}

						<form method="post" action="" accept-charset="UTF-8">
						    {{ csrfInput() }}
						    <input type="hidden" name="action" value="contact-form/send">
						    {{ redirectInput('contact/thank-you') }}

						    

							<div class="form-field half">
								<h3><label for="from-name">First Name *</label></h3>
							    <input id="from-name" type="text" name="fromName" value="{{ message.fromName ?? '' }}" required>
							    {{ message is defined and message ? errorList(message.getErrors('fromName')) }}
	    					</div>

							<div class="form-field half">
							    <h3><label for="last-name">Last Name *</label></h3>
								<input id="last-name" type="text" name="message[Last Name]" value="" required>
							</div>
						    <div class="form-field half">
							    <h3><label for="from-email">Email *</label></h3>
							    <input id="from-email" type="email" name="fromEmail" value="{{ message.fromEmail ?? '' }}" required>
							    {{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}
							</div>
							<div class="form-field half">
							    <h3><label for="phone">Phone</label></h3>
								<input id="phone" type="text" name="message[Phone]" value="">
							</div>
						    <div class="form-field half">
							    <h3><label for="company">Company</label></h3>
								<input id="company" type="text" name="message[Company]" value="">
							</div>
						    <div class="form-field half">
						    	<h3><label for="project-name">Project Name</label></h3>
								<input id="project-name" type="text" name="message[Project]" value="">
							</div>
						    <div class="form-field">
							    <h3><label for="message">Message</label></h3>
							    <textarea rows="3" cols="40" id="message" name="message[body]">{{ message.message.body ?? '' }}</textarea>
							</div>
						    <input type="submit" value="Send">
						</form>
					</div>
					<div class="contact__sidebar">
						{% if entry.rightColumn|length %}{{ entry.rightColumn }}{% endif %}
					</div>
				</div>
			</section>
		</section>


		{% if craft.app.session.hasFlash('notice') %}
		    <p class="message notice">{{ craft.app.session.getFlash('notice') }}</p>
		{% elseif craft.app.session.hasFlash('error') %}
		    <p class="message error">{{ craft.app.session.getFlash('error') }}</p>
		{% endif %}
	</div>
{% endblock %}