{% extends "layouts/_layout" %}

{% block content %}
	<div class="wrapper">
		<section id="contact" class="wrap-content">
			<span class="veritcal-outlined-text">Contact</span>
			
			<section id="contact-content" class="page-content">
				<h1 class="heading-one">Contact</h1>

				<div class="contact">
					<div class="contact__form">
						{% macro errorList(errors) %}
						    {% if errors %}
						        <ul class="errors">
						            {% for error in errors %}
						                <li>{{ error }}</li>
						            {% endfor %}
						        </ul>
						    {% endif %}
						{% endmacro %}

						{% from _self import errorList %}

						<form method="post" action="" accept-charset="UTF-8">
						    {{ csrfInput() }}
						    <input type="hidden" name="action" value="contact-form/send">
						    {{ redirectInput('contact/thank-you') }}

						    <h3><label for="from-name">Your Name</label></h3>
						    <input id="from-name" type="text" name="fromName" value="{{ message.fromName ?? '' }}">
						    {{ message is defined and message ? errorList(message.getErrors('fromName')) }}

						    <h3><label for="from-email">Your Email</label></h3>
						    <input id="from-email" type="email" name="fromEmail" value="{{ message.fromEmail ?? '' }}">
						    {{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}

						    <h3><label for="from-email">Your Phonr</label></h3>
						    <input id="from-phone" type="tel" name="fromPhone" value="{{ message.fromPhone ?? '' }}">
						    {{ message is defined and message ? errorList(message.getErrors('fromPhone')) }}

						    <h3><label for="subject">Subject</label></h3>
						    <input id="subject" type="text" name="subject" value="{{ message.subject ?? '' }}">
						    {{ message is defined and message ? errorList(message.getErrors('subject')) }}

						    <h3><label for="message">Message</label></h3>
						    <textarea rows="10" cols="40" id="message" name="message">{{ message.message ?? '' }}</textarea>
						    {{ message is defined and message ? errorList(message.getErrors('message')) }}

						    <input type="submit" value="Send">
						</form>
					</div>
					<div class="contact__sidebar">
						<h2 class="heading-two">Our Details</h2>
						<p>Ezeqial Productions Inc.<br>110 Eglinton Ave W, Suite 400<br>Toronto ON Canada<br>M4R 1A3</p>
						<p><a href="tel:4165605689">416-560-5689</a><br><a href="mailto:zack@ezeqialproductions.com">zack@ezeqialproductions.com</a></p>
					</div>
				</div>
			</section>
		</section>


		{% if craft.app.session.hasFlash('notice') %}
		    <p class="message notice">{{ craft.app.session.getFlash('notice') }}</p>
		{% elseif craft.app.session.hasFlash('error') %}
		    <p class="message error">{{ craft.app.session.getFlash('error') }}</p>
		{% endif %}
	</div>
{% endblock %}