{% extends "layouts/_layout" %}

{% block content %}
	<div class="wrapper">
		<div class="wrap-content">
			{% if entry.outlineHeading|length %}<span class="veritcal-outlined-text">{{ entry.outlineHeading }}</span>{% endif %}
			<section id="development-content" class="page-content">
				<h1 class="heading-one">{{ entry.title }}</h1>

				{% if entry.developmentAccordion|length %}
					{% for accordion in entry.developmentAccordion.all() %}
						{# accordion row #}
							{% set accordionLabel = accordion.accordionLabel|lower|replace(' ', '-') %}
							<div class="accordion">
								<button aria-expanded="false" class="accordion__trigger" aria-controls="{{ accordionLabel }}" id="{{ accordionLabel }}-{{loop.index}}">
									<span class="accordion__btn-copy">
										<h2 class="heading-two accordion__title">{{ accordion.accordionTitle }}</h2>
										{% if accordion.accordionSubtitle|length %}
											<h3 class="accordion__subtitle">{{ accordion.accordionSubtitle }}</h3>
										{% endif %}
									</span>
									<span class="accordion__btn-icon"></span>
								</button>
								<div id="{{ accordionLabel }}" role="region" aria-labelledby="{{ accordionLabel }}-{{loop.index}}" aria-expanded="false" class="accordion-panel" hidden="true">
									<div>
										<div>
											{% if accordion.accordionPoster|length %}
												{% set img = accordion.accordionPoster.one() %}
												<div class="accordion-panel__visual">
													<img src="{{ img.getUrl('developmentProjectVisuals') }}" {% if img.altTag|length %}alt="{% set imgAlt = img.altTag %}"{% endif %}/>
												</div>
											{% endif %}
											{% if accordion.accordionLeftColumn|length %}
												<div class="accordion-panel__details">
													{{ accordion.accordionLeftColumn }}
												</div>
											{% endif %}
											{% if accordion.accordionRightColumn|length %}
												<div class="accordion-panel__synopsis">
													{{ accordion.accordionLeftColumn }}
												</div>
											{% endif %}
										</div>
									</div>
								</div>
							</div>
						{# [END] accordion row #}
					{% endfor %}
				{% endif %}
			</section>
		</div>
	</div>

	<script type="text/javascript">
		// check if url has hash
		if (window.location.hash.length) {
			var currentHash = window.location.hash,
				currentProject = currentHash.replace('#', ''),
				currentAccordionTitle = $('.accordion__trigger[aria-controls="' + currentProject + '"]'),
				currentAccordionPanel = $('.accordion-panel[id="' + currentProject + '"]');
			console.log(currentProject);

			$('html, body').animate({
				scrollTop: currentAccordionTitle.offset().top - 200
			}, 1000);

			$('.accordion__trigger').attr('aria-expanded', false);
			currentAccordionTitle.attr('aria-expanded', true);

			$('.accordion-panel').attr('hidden', true);
			currentAccordionPanel.attr('hidden', false);
		}
	</script>
{% endblock %}