{% extends "layouts/_layout" %}

{% block content %}
	{% if entry.homePageSlider|length %}
		<div class="wrapper">
			<section id="home" class="wrap-content">
				<div class="home-slider">

					<div class="home-slider__pager-container">
						{% if entry.outlineHeading|length %}<h2 class="heading-two home-slider__title">{{ entry.outlineHeading }}</h2>{% endif %}
						<div class="home-slider__pager"></div>
					</div>

					<div class="home-slider__container">
						<div class="cycle-slideshow"
						    data-cycle-fx="fade"
						    data-cycle-timeout=5000
						    data-cycle-timeout="0"
						    data-cycle-prev="#prev"
						    data-cycle-next="#next"
						    data-cycle-slides="> a"
						    data-cycle-pager=".home-slider__pager"
						    data-cycle-pager-template="<a href=#><span><span></span></span></a>"
						    >
						    {% for slide in entry.homePageSlider.all() %}
						    {% set slideImg = slide.slideImage.one().getUrl('homeSlideImage') %}
						    <a href="{{ slide.slideLink.getUrl() }}" target="{{ slide.slideLink.getTarget() }}" class="home-slide">
						    	<div class="home-slide__bg" style="background-image: url({{ slideImg }});">
							    	<!-- <img src="{{ slideImg }}" {% if slide.slideImage.one().altTag|length %}alt="{{ slide.slideImage.one() }}"{% endif %}> -->
							    	<span class="home-slide__title">
							    		<span>{{ slide.slideTitle }}</span>
							    	</span>
							    </div>
						    </a>
						    {% endfor  %}
						</div>
						<div class="home-slider__controls">
						    <a href=# id="prev"><i class="icon-arrow-left"></i></a> 
						    <a href=# id="next"><i class="icon-arrow-right"></i></a>
						</div>
					</div>

				</div>
			</section>
		</div>
	{% endif %}
{% endblock %}