#team-content {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: flex-start;

	.heading-one {
		width: 100%;
	}

	&.slim {
		padding-left: 7.7rem;
	}
}

.team-member {
	@include column(3.5);
	padding-bottom: 4rem;

	@include tablet-below {
		@include column(6);
		padding-right: 5.5%;
	}

	@include phone-large-below {
		@include column(12);
		padding-right: 0;
	}

	img {
		width: 100%;
		margin-bottom: 3rem;
		padding: 2px;
		background-image: linear-gradient(135deg, $white, rgba($white, 0.1));
	    background-position: 0% 100%;
	    background-repeat: no-repeat;
	    background-size: 100% 100%;

	    @include phone-large-below {
	    	max-width: 400px;
	    }
	}

	&.featured {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: wrap;
		padding-right: 0;

		.team-member__img {
			@include column(5.33);

			@include tablet-small-below {
				@include column(12);
				max-width: 400px;
			}
		}

		.team-member__copy {
			@include column(6);

			@include tablet-small-below {
				@include column(12);
			}
		}

		.team-member__job {
			font-size: 1.6rem;
			padding: 0.5rem 0 2.5rem;
		}

		p {
			font-weight: 400;
		}
	}
}

.team-member__name {
	font-weight: 700;
}

.team-member__job {
	font-size: 1.4rem;
	font-weight: 400;
	padding-top: 1rem;
	letter-spacing: 1px;
	line-height: 1.2;
}