{% extends "layouts/_layout" %}

{% block content %}
	<span class="veritcal-outlined-text">Feature Film</span>
	
	<section id="production-project-opening" class="page-content">
		<div class="production-project-opening__content">
			<span class="production__year">2018</span>
			<h1 class="heading-one">The Dancing Dog of Dombrova</h1>
			<p>On a cold winter night, estranged siblings Sarah and Aaron Cotler arrive at an empty train station in Dombrova, Poland. With their only available ride being a silent Driver, they embark on a quest to fulfil their dying grandmother’s wish – find, dig up, and bring home the bones of her favourite childhood dog, Peter.</p>
		</div>
		<div class="production-project-opening__video">
			<div class="video-container">
				<iframe src="https://player.vimeo.com/video/115082758" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
			</div>
		</div>
	</section>

	<section id="production-project-content" class="page-content">
		<div class="production__poster">
			<img src="{{ entry.posterPicker.one().getUrl('productionPoster')}}" alt=""/>
		</div>
		<div class="production__facts">
			<div class="production__fact">
				<h2>Category Title Placement</h2>
				<p>Category Content Copy Placement</p>
			</div>

			<div class="production__fact">
				<h2>Category Title Placement</h2>
				<p><a href="">Category Content Copy Placement</a></p>
				<p>Category Content Copy Placement</p>
				<p>Category Content Copy Placement</p>
				<p>Category Content Copy Placement</p>
				<p>Category Content Copy Placement</p>
				<p>Category Content Copy Placement</p>
			</div>

			<div class="production__fact">
				<h2>Category Title Placement</h2>
				<p>Category Content Copy Placement</p>
				<p>Category Content Copy Placement</p>
				<p>Category Content Copy Placement</p>
				<p>Category Content Copy Placement</p>
			</div>

			<div class="production__fact">
				<h2>Category Title Placement</h2>
				<p>Category Content Copy Placement</p>
			</div>

			<div class="production__fact">
				<h2>Category Title Placement</h2>
				<p>Category Content Copy Placement</p>
			</div>
		</div>
	</section>
{% endblock %}