{% set slug = entry.slug %}
{% set currentUrl = url(craft.app.request.pathInfo) %}

<nav class="js--main-nav main-nav">
	<div class="wrapper">
		<div class="main-nav__logo {% if slug == 'home' %}home{% endif %}">
			<a href="/">
				{{ svg('images/interface/ezeqial-productions-logo.svg') }}
			</a>
		</div>
		{% if mainNavigation.navigationLink | length %}
			<ul class="main-nav__links desktop">
				{% for link in mainNavigation.navigationLink %}
					{% set pageLink = '/' ~ link.linkInformation.text|lower %}
					{% set activeLink = '' %}

					{% if pageLink in currentUrl or (slug == 'home' and pageLink == '/home') %}
						{% set activeLink = 'active' %}
					{% endif %}

					<li class="main-nav__link">
						<a href="{{ link.linkInformation.url }}" aria-label="Navigate to {{ link.linkInformation.text }}" class="{{ activeLink }}">{{ link.linkInformation.text }}</a>
					</li>
				{% endfor %}
			</ul>
		{% endif %}
		<button class="hamham" aria-expanded="false" aira-label="mobile menu"><span></span><span></span><span></span></button>
	</div>
</nav>

<div class="mobile-nav">
	{% if mainNavigation.navigationLink | length %}
		<ul class="main-nav__links">
			{% for link in mainNavigation.navigationLink %}
				{% set pageLink = '/' ~ link.linkInformation.text|lower %}
				{% set activeLink = '' %}

				{% if pageLink in currentUrl or (slug == 'home' and pageLink == '/home') %}
					{% set activeLink = 'active' %}
				{% endif %}

				<li class="main-nav__link">
					<a href="{{ link.linkInformation.url }}" aria-label="Navigate to {{ link.linkInformation.text }}" class="{{ activeLink }}">{{ link.linkInformation.text }}</a>
				</li>
			{% endfor %}
		</ul>
	{% endif %}
</div>