<nav class="main-nav">
	<div class="wrapper">
		<div class="main-nav__logo">
			{{ svg('images/interface/ezeqial-productions-logo.svg') }}
		</div>
		<ul class="main-nav__links">
			<li class="main-nav__link"><a href="" aria-label="Navigate to the Home Page">home</a></li>
			<li class="main-nav__link"><a href="" aria-label="Navigate to the Production Page">production</a></li>
			<li class="main-nav__link"><a href="" aria-label="Navigate to the Development Page">development</a></li>
			<li class="main-nav__link"><a href="" aria-label="Navigate to the About Page">about</a></li>
			<li class="main-nav__link"><a href="" aria-label="Navigate to the Contact Page">contact</a></li>
		</ul>
	</div>
</nav>