.veritcal-outlined-text {
	font-family: $font;
	color: rgba($white, 0.2);
	-webkit-text-fill-color: $grey;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: rgba($white, .2);
	font-size: 7.5rem;
	text-transform: uppercase;
	writing-mode: vertical-rl;
	text-orientation: mixed;
	transform: rotate(180deg);
	float: left;
	line-height: 0.68;
	padding-left: 3rem;
	padding-bottom: 7rem;
	white-space: nowrap;
}

.heading-one {
	font-family: $font;
	font-size: 4rem;
	color: $white;
	font-weight: 700;
	letter-spacing: 5px;
	text-transform: uppercase;
	padding-bottom: 3rem;
	line-height: 1.2;
}

.heading-two {
	font-family: $font;
	font-size: 2rem;
	color: $white;
	font-weight: 400;
	letter-spacing: 2px;
	line-height: 1.1;
}

p {
	font-family: $font;
	font-size: 1.7rem;
	color: $white;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 1.7;
	margin-bottom: 3rem;

	&:last-child {
		margin-bottom: 0;
	}
}

.heading-four {
	@extend p;
	font-weight: 700;	
	margin-bottom: 0;
}

strong {
	font-weight: 700;
}

.page-content a:not(.card-link) {
	color: rgba($white, 0.6);
	text-decoration: none;
	background-image: linear-gradient(to right, $orange, rgba($orange, 0.5));
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 100% 2px;
    transition: 0.35s ease all;

    &:hover, &:focus {
    	color: $white;
    	background-image: linear-gradient(to right, $orange, $orange);
    	outline: none;
    	background-size: 100% 8px;
    }
}


